/* Byron Wicoff */ 
/* 1 Jan 2024 */
/* Black Goose Project */

/* Css Variables */

:root {
    --sand: hsl(38, 69%, 94%);
    --blue-grey: #57b1dc;
    --orange: #d1633c;
}

body {
    background-color: var(--sand);
    margin: 0 10%;
    font-family: sans serif;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 1.875rem;
    border-bottom: 1px solid var(--blue-grey);
}

h2 {
    color: var(--orange);
    font-size: 1rem;
}